@media only screen and (max-width: 1399px) {

.main-wrapper{
    width: 100%;
   /* min-width: 84.375em;
    margin-right: auto;
    margin-left: auto; */
}
.header{
    width: 100%;
}
.up{
    background-color: #fafafa;
    width: 100%;   
}
.up-head{
    background-color: #fafafa;
    min-width: 84.375em;
    width: 84.375em;
    margin-left: auto;
    margin-right: auto;

}
.logo{
    width: 45%;
    margin-left: 5%;  
}
.nav{
    width: 45%;
    line-height: 64px;
    margin-right: 5%;
}
.down, .downer{
    width: 100%;   
    background-color: #7a7878;

}
.down-head, .downer-head{
    background-color: #7a7878;
    min-width: 84.375em;
    width: 84.375em;
    margin-left: auto;
    margin-right: auto;
}
.header-right{
    text-align: right;
    font-size: 48px;
    color: rgb(230, 230, 230);
  font-family: "OpenSans";
  margin-right: 5%;
  margin-top: 210px;
    margin-bottom: 22px;
    line-height: 1.25;
    width: 34.2857%;
}

.header-button{
    margin-right: 5%;
      margin-bottom: 202px;
      line-height: 1.25;
      width: 34.2857%;
}
.buy, .learn{
    text-align: center;
    line-height: 58px;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
}
.buy{
    background-color: rgb(250, 250, 250);
    margin-right: 4.1667%;
    width: 32.2917%;
}
.learn{
    background-color: rgb(85, 85, 85);
    width: 37.5%;
}
.body-wrapper{
    width: 100%;
}
.row1-out{
    width: 100%;
}
.row1-mid{
    min-width: 84.375em;
    width: 84.375em;
    margin-right: auto;
    margin-left: auto;

}
.row-1{
    width: 83.7143%;
    margin-top: 119px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;

}
.row-1 .clearfix .margin-none.descriptions{
    margin-right: 0%;
}
.row-1 .descriptions{
    background-color: #f5f5f5;
    width: 31.7406%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-right: 2%;
}
.row1-article{
    height: calc(100% - 60px);
}
.rocket1-div{
    background-color: #3baafe;
    background-size: 20px auto;
    position: absolute;
    bottom: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-left: 8.0645%;
}
.rocket2-div, .rocket3-div{
    background-color: #555555;
    background-size: 20px auto;
    position: absolute;
    bottom: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-left: 8.0645%;
}
.row-2{
    width: 100%;
    background-color: #7a7878;
    margin-bottom: 100px;
}
.row2-mid{
    margin-right: auto;
    margin-left: auto;
    min-width: 84.375em;
    width: 84.375em;
    background-color: #7a7878;
}
.row-2-wrapper{
    width: 48.0714%;
    margin-right: auto;
    background-color: #f5f5f5;
    margin-left: 13.3027%;
}
.row2img-wrapper{
    width: 40px;
    background-color: white;
}
.choose-list{
    margin-left: 5.7949%; 
    margin-top: 45px;
    padding-bottom: 46px;
}
.row2-article{
    width: calc(98% - 40px);
    margin-left: 2%;
}

.row-3{
    width:100%;
    background-color: #ffffff;
    margin-bottom: 60px;
}
.row3-mid, .row4-mid, .row5-mid, .row6-out, .row7-mid, .row8-mid, .row9-mid, .row10-mid, .row11-mid, .row12-mid, .row13-mid, .footer-mid{
    min-width: 84.375em;
    width: 84.375em;
    margin-left: auto;
    margin-right: auto;

}
.row3-title{
    width: 100%;
    text-align: center;
    margin-bottom: 60px; 
}
.row-3 ul{
    width: 83.5714%;
    margin-left: auto;
    margin-right: auto;
}
.row-3 ul li div{
}
.row3img-wrapper{
    width: 40px;
    background-color: #555555;
    border-radius: 50%;
}
.row3img-wrapper:hover{
    background-color: #3baafe;
}
.row-4{
    width: 100%;
    background-color: #7a7878;
}
.row4-mid{
    background-color: #7a7878;
}
.row4-wrapper{
    background-color: #ebebeb;
    width: 62.2143%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 45px;

}
.row4-wrapper .article{
    width: calc(95% - 40px);
    margin-left: 5%;
}
.row4img-wrapper{
    width: 40px;
    background-color: white;
    border-radius: 50%;
}
.row-5{
    width: 100%;
}
.row-5 .main-ul .main-ul-li .side-div{
    width: 60%;
    padding: 30px 0px 15px 38%;
}
.image-div-r5{
    position: relative;
}
.image-div-r5 div{
   position: absolute;
   bottom: 20px;
   left: 20px;
}
.image-div-r5 img{
    position: absolute;
}
.row5img-wrapper{
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin-right: 1%;
}
.row5-title{
    width:100%;
    text-align: center;
    margin-bottom: 60px; 
    margin-top: 68px;   
}
.row-6{
    width: 100%;
    height: auto;
    background-image: url('../images/bgrow6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;
}
.row-6 .right-div{
    padding-bottom: 70px;
    width: 46%;
    margin-top: 30px;
}
 .row-6 .div-a{
     width: 40px;
     background-color: white;
     border-radius: 50%;
 }
.row-7wrapper{
width: 100%;
}
 .row-7{
 width: 83.6428%;
 margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
 }
 .row-7 .first-ul{
  width: 50.8967%;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 53px;
  
 }
 .row-7 .first-ul li:last-child{
    margin-right: 0;   
 }
 .row-7 .first-ul li{
     padding-left: 3.3%;
     padding-right: 3.3%;
     background-color: #f5f5f5;
   
  text-align: center;
  line-height: 33px;
  margin-right: 4px;
 }
 .row-7 .second-ul{
     width: 100%;
     margin-left: auto;
     margin-right: auto;   
   
 }
 .row-7 .second-ul li.last{
    margin-right: 0px;   
 }
 .row-7 .second-ul li{
     background-color: #7a7878;
     width:24.75%;
     padding-top: 107.5px;
     padding-bottom: 107.5px;
     margin-right: 1.5px;
     margin-bottom: 1.5px;

 }
 .row-7 .second-ul li:hover{
     background-color: #4b9ddc;
 }
 .row8-out{
     width:100%;
     background-color: #7a7878;
     margin-bottom: 86px;
 }
.row-8{
    width:49.0714%;
    background-color: #313030;
    padding-top: 40px;
    padding-bottom: 5px;
}

.row-8 ul{
    margin-left: 5.8224%;
}
.row-8 ul li{
    width: 35.3712%;
    margin-bottom: 30px;
    margin-right: 32px;
}

.row9-out{
    width: 100%;
    margin-bottom: 125px;
}
.row-9{
    width: 83.7143%;
    margin-right: auto;
    margin-left: auto;
}
.row-9 .container{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 424.95px;
}
.row-9 .container .wrapper{
    width: 210%;
    position: absolute;
    margin-bottom: 125px;
    left: 0px;
}
.row-9 .container .wrapper .snippet.last{
    margin-right: 0px;
}
.row-9 .container .wrapper .snippet{
    width: 270px; 
    margin-right: 13px; 
}

.row-9 .snippet .snippet-last .float-left{
    margin-left: 20px;
}
.row-9 .snippet .snippet-last .float-right{
    margin-right: 17px;
}
.row-9 .snippet .snippet-last .float-right a{
    color: rgb(153, 153, 153);
}
.row-9 .snippet .snippet-last .float-right a:hover{
    color:#3baafe;
}
.row9img-wrapper{
    width: 34px;
    background-color: #555555;
    border-radius: 50%;
    margin-right: 8px;
}
.row9img-wrapper img{
    margin: 10px;
}
.row9-buttons{
    margin-top: 40px;
}

.row10-out{
    width: 100%;
    margin-bottom: 86px;
}
.row10-mid{
    background-image: -moz-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
}
.row-10{
    width: 83.4286%;
    margin-right: auto;
    margin-left: auto;
}
.row-10 .left{
    width: 62.7568%;
}
.row-10 .leftest{
    width: calc(99% - 291px);
}
.row-10 .left-up{
    background-color: rgb(255, 255, 255);
    width: 99%;  
    margin-bottom: 21px;
    margin-top: 48px;
    padding-bottom: 48px;
    padding-top: 48px;
    position: relative;
}

.row-10 .circles{
    margin-top: 122px;
}
.row-10 .circles div{
    margin-right: 26px;
}
.row11-out{
    width: 100%;
    margin-bottom: 95px;
}
.row-11{
    width: 83.7143%;
    margin-left: auto;
    margin-right: auto;
}
.row-11 .row11-firstul li{
    width: 23.1%;
    margin-right: 28px;
}
.row-11 .row11-firstul li:last-child{
    margin-right: 0px;
}
.row-11 .row11-secul li{
width: 100%;
}
.row12-out{
    width: 100%;
    margin-bottom: 76px;
}
.row12-mid{
    background-color: #2a2929;
}
.row-12{
    width: 59.4286%;
    margin-left: auto;
    margin-right: auto;
}
.row-12 ul{
    padding-bottom: 83px;
}
.row-12 ul li{
    width: 15.505%;
    margin-right: 75px;
}
.row13-out{
    width: 100%;
    margin-bottom: 80px;
}
.row-13{
 width: 83.7857%;
 margin-right: auto;
 margin-left: auto;
}
.row-13 ul li:last-child{
    margin-right: 0px;
}
.row-13 ul li{
    margin-right: 17px;
}
.footer-out{
    width: 100%;
    background-color: #555555;
}
.footer-mid{
    background-color: #555555;   
}
.footer{
    width: 83.7857%;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 40px;
    border-bottom: 2px solid #868686;  
}
.footer-down{
    width: 83.7857%;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: center;
    margin-top: 19px;
    padding-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}
.footer li.first{
    width: 23.4%;
    margin-right: 30px;
}
.footer li.second{
 width: 14.3%;
 margin-right: 33px;
}
.footer li.third{
    width:11.016%;
    margin-right: 64px;
}
.footer li.fourth{
    width: 40%;
}

}

